/upload/*
!/upload/.gitkeep

/data/backup/*
!/data/backup/.gitkeep

/data/tmp/*
!/data/tmp/.gitkeep

/pictures/articles/*
!/pictures/articles/.gitkeep
/pictures/avatars/*
!/pictures/avatars/no-avatar.jpg
!/pictures/avatars/no-avatar-dark.jpg
/pictures/galleries/*
!/pictures/galleries/.gitkeep
/pictures/thumb/*
!/pictures/thumb/.gitkeep

/.htaccess
/config.php
/mail.log
